body{
    background-image: url(images.png);
    background-size: cover;  
}
#div{
   margin-top: 100px;
    background-color: rgba(90, 87, 87, 0.952);
    width: 400px;
    height:400px;
    padding:50px;
    margin-left:34%;
    color: rgb(12, 11, 11);
}
h2{
    margin-top: -10px;
    font-family:'Times New Roman', Times, serif;
    font-size:30px;
    font-weight:700;
}
label{
    font-size: 20px;
    font-weight: 700;
}
input[type=number]{
    width: 300px;
    height: 25px;  
    text-align: left;
    background-color: wheat;
    color: black;
    border-radius: 10px;
    }
    button{
        width: 100px;
        height: 35px;
        font-weight: 700;
        text-align:center;
        padding-bottom: 12px;
        border-radius: 10px;
    }
    button:hover{
        background-color:rgb(83, 78, 78) ;
        color: rgb(12, 11, 11);
        font-weight:700;
}