body {
  background-image: url(download\ .jpeg);
  background-size: cover;
}

h1 {
  text-shadow: 2px 2px 2px rgb(15, 15, 15);
  color: aliceblue;
}
#box {
  background-color: rgba(0, 255, 255, 0.075);
  height: 400px;
  width: 500px;
  margin-top: 07%;
  margin-left: 40%;
  color: aliceblue;
}
#box1 {
  display: flex;
  gap: 50px;
  font-size: larger;
  padding-left: 14%;
  padding-top: 3%;
  padding-bottom: 3%;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}
#C {
  font-size: 23px;
  margin-left: -20px;
}
#F {
  font-size: 23px;
}
input {
  color: white;
  height: 30px;
  border-radius: 10px;
  background-color: rgba(195, 238, 238, 0.205);
}
button {
  background-color: rgba(8, 113, 252, 0.911);
  border-radius: 7px;
  margin-left: 60px;
  color: white;
  width: 50px;
}
button:hover {
  transform: scale(0.9);
  background-color: rgba(89, 153, 248, 0.486);
}
#but {
  margin-top: 1%;
  margin-left: 46%;
  width: 50px;
  height: 20px;
}
